* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 45px 0 60px;
  overflow-x: hidden;
  position: relative;
}

.page__header {
  margin-left: 200px;
}

@media screen and (max-width: 700px) {
  .page__profile {
    margin-left: 40px;
  }
}

.hover__link:hover {
  opacity: 0.8;
  cursor: pointer;
}
